.modal-container {
  width: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.modal-content {
  background-color: var(--white);
  padding: 40px;
}

.title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 40px;
  color: var(--black);
}

select {
  margin-bottom: 20px;
}

@media (max-width: 960px) {
  .modal-content {
    width: calc(100% / 12 * 6);
  }
}

@media (max-width: 640px) {
  .modal-container {
    height: 100%;
    align-items: flex-start;
    padding: 20% 0;
    .modal-content {
      width: calc(100vw - 60px);
    }
  }
}
